:root {
    --nav-bg: #051148;
    background-color: #1d1d1d;
    --font-color: white;
}

* {
    box-sizing: border-box; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    margin: 0; 
    line-height: 1.5;
    list-style-type: none;
 }


body {
    width: 100vw;
    height: 100vh;
}

header{
    color: var(--font-color);
    padding-left: 15px;
 }

 main {
    font-size: 10px;
    display: flex;
    flex-direction: column;
 }

 aside{
    color: var(--font-color);
    font-size: large;
    padding-left: 20px;
 }

 section{
    color: var(--font-color);
    font-size: large;
    padding-left: 20px;
 }

 img {
    border-radius: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
  }

 p{
    color: var(--font-color);
    font-size: medium;
    align-items: center;
    justify-content: center;
 }

nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg);
    padding: 20px;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 10px;
    padding: 5px;
} 

nav li:hover {
    border-bottom: var(--font-color) 2px solid;
}

nav h1 {
    font-size: medium;
    padding: 10px 12px 10px 12px;
    color: var(--nav-bg);
    margin-left: -20px;
}

nav a {
    text-decoration: none;
    color: var(--font-color);
}

footer {
    width: 100vw;
    background-color: var(--nav-bg);
    padding: 20px;
    text-align: center;
    margin: 2% 0 0 0;
}

footer a {
    text-decoration: none;
    color: var(--font-color);
}

/* Styling for left align headers */
.header-left {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.section-header {
    border-right: #fff 2px solid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.box-project {
    border: 1px solid black;
    background-color: var(--nav-bg);
    min-width: 30px;
    min-height: 30px; 
    margin: 1%;
}

.project-images {
    margin: 1%;
}

#about-me-header {
    display: flex;
    justify-content: space-around;
    margin: 1%;
}

#work-header {
    display: flex;
    justify-content: space-around;
    margin: 1%;
}

#contact-header {
    display: flex;
    justify-content: space-around;
    margin: 1%;
}

#projects {
    display: flex;
    justify-content: space-around;
}

#github-link {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--font-color);
}

#github-link:hover {
    border-bottom: var(--font-color) 2px solid;
}